@model List<AdminBlog.Models.Blog>
@{
    ViewData["Title"]= "Bloqlar";
    var LoginId = Context.Session.GetInt32("id");
    var context = ViewBag.context;
    }
    
    @if(LoginId!=0){ //0 is a specified number which means that the person logging is admin
      <h2> Sizin bloqlarınız</h2> 
<hr>
<div id="BlogsList">
    



<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Başlıq</th>
        <th>Kateqoriya</th>
        <th>Vəziyyət</th> 
        <th>Əməliyyatlar</th>
    </thead>
     <tbody>
    @if(Model!=null){

 @foreach (var item in Model)
{
    if(item.AuthorId==LoginId){

    
    <tr id="@item.Id">
        <th>@item.Id</th>
        <td>@item.Title</td>

        <td>@context.Categories.Find(
            item.CategoryId).Name</td>
        <td>
            
           <a type="button" class="btn btn-danger" onclick="DeleteBlog(@item.Id)" >Sil</a>
           <a type="link" href="/Blog/EditBlog?Id=@item.Id" class="btn btn-warning" >Dəyişdir</a>
            
        </td>
    </tr>
    }
}
    }
    </tbody>
   
   
</table>
</div>
<hr>
<a class="form-control btn btn-success mb-2" href="/Blog/AddNewBlog">Yeni bloq əlavə et</a>
<hr>
    }else{
        <h2>Bloqlar</h2>
        <div id="BlogsList">

<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Başlıq</th>
        <th>Kateqoriya</th>
        <th>Əməliyyatlar</th>
    </thead>
     <tbody>
    @if(Model!=null){

 @foreach (var item in Model)
{
    

    
    <tr id="@item.Id">
        <th>@item.Id</th>
        <td>@item.Title</td>

        <td>@context.Categories.Find(
            item.CategoryId).Name</td>
        <td>
           <a type="link" href="/Blog/EditBlog?Id=@item.Id" class="btn btn-warning" >Detallı bax</a>
            
        </td>
    </tr>
    
}
    }else{
        
    }
    </tbody>
   
   
</table>
</div>
    }

  



@section Scripts{
  
   <script>
    function DeleteBlog(Id){
        if(confirm("Bloqu silmək istədiyinizdən əminsiniz?")){

        
        $.ajax({
            url: `/Blog/DeleteBlog?Id=${Id}`,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
            type: 'POST',
            success : (result)=>{
                $(`tr#${Id}`).remove();
            },
            error : ()=>{
                console.log("Xəta baş verdi")
            }
        })
        }
    }
    
    </script>
}