@model List<AdminBlog.Models.Blog>
@{
    ViewData["Title"]= "Bloqlar";
    var LoginId = Context.Session.GetInt32("id");
    var context = ViewBag.context;
    
    }
    
    @if(LoginId!=0){ //0 is a specified number which means that the person logging is admin
      <h2> Sizin bloqlarınız</h2> 
<hr>
<div id="BlogsList">
    



<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Başlıq</th>
        <th>Kateqoriya</th>
        <th>Əməliyyatlar</th>
        <th>Vəziyyət</th> 
    </thead>
     <tbody>
    @if(Model!=null){

 @foreach (var item in Model)
{
    if(item.AuthorId==LoginId){

    
    <tr id="@item.Id">
        <th>@item.Id</th>
        <td>@item.Title</td>

        <td>@context.Categories.Find(
            item.CategoryId).Name</td>
        <td>
            
           <a type="button" class="btn btn-danger" onclick="DeleteBlog(@item.Id)" >Sil</a>
           <a type="link" href="/Blog/EditBlog?T=@item.Slug" class="btn btn-warning" >Dəyişdir</a>
            
        </td>
        
        <td id="Publishing-@item.Id">
           @if(item.isPublished==false){
                <a type="button" onclick="PublishToggle(@item.Id)" id="PublishButton-@item.Id"  class="btn btn-success" >Yayınla</a> 
           }else{
            <a type="button" onclick="PublishToggle(@item.Id)" id="UnpublishButton-@item.Id" class="btn btn-danger" >Yayından geri çək</a>
           }
            
            
                
            
            
            </td>
    </tr>
    }
}
    }
    </tbody>
   
   
</table>
</div>
<hr>
<a class="form-control btn btn-success mb-2" href="/Blog/AddNewBlog">Yeni bloq əlavə et</a>
<hr>
    }else{
        <h2>Bloqlar</h2>
        <div id="BlogsList">

<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Başlıq</th>
        <th>Kateqoriya</th>
        <th>Əməliyyatlar</th>
        <th>Vəziyyət</th> 
    </thead>
     <tbody>
    @if(Model!=null){

 @foreach (var item in Model)
{
    

    
    <tr id="@item.Id">
        <th>@item.Id</th>
        <td>@item.Title</td>

        <td>@context.Categories.Find(
            item.CategoryId).Name</td>
        <td>
           <a type="link" href="/Blog/EditBlog?T=@item.Slug" class="btn btn-warning" >Detallı bax</a>
            
        </td>
        <td>
            @if(item.isPublished==true){
                <a type="button" class="btn btn-primary" disabled>Yayınlanıb</a>
            }else{
                
                <a type="button" class="btn btn-primary" disabled>Yayınlanmayıb</a>
            }

        </td>
    </tr>
    
}
    }else{
        
    }
    </tbody>
   
   
</table>
</div>
    }

  



@section Scripts{
  
   <script>
    $(document).ready(function(){
        
    })
    function PublishToggle(id){
            $.ajax({
                url : `/Blog/PublishToggle?Id=${id}`,
                type : "POST",
                contentType : 'application/x-www-form-urlencoded',
                success : function(result){
                    console.log(result);
                    
                    if(result.isPublished==true){
                        $(`#PublishButton-${id}`).remove();
                       var unpublishButton = `<a type="button" onclick="PublishToggle(${id})"  class="btn btn-danger" id="UnpublishButton-${id}">Yayından geri çək</a>`;
                        $(`#Publishing-${id}`).append(unpublishButton);
                    }else{
                        $(`#UnpublishButton-${id}`).remove();
                        var publishButton = `<a type="button" onclick="PublishToggle(${id})"  class="btn btn-success" id="PublishButton-${id}">Yayınla</a>`;
                       $(`#Publishing-${id}`).append(publishButton);

                        }
                    

                },
                error : function(result){
                    alert("Xəta baş verdi");
                }
            })
    }
    function DeleteBlog(Id){
        if(confirm("Bloqu silmək istədiyinizdən əminsiniz?")){

        
        $.ajax({
            url: `/Blog/DeleteBlog?Id=${Id}`,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
            type: 'POST',
            success : (result)=>{
                $(`tr#${Id}`).remove();
            },
            error : ()=>{
                console.log("Xəta baş verdi")
            }
        })
        }
    }
    
    </script>
}