@model List<AdminBlog.Models.Blog>
@{
    ViewData["Title"]= "Yazıçılar";
    var LoginId = Context.Session.GetInt32("id");
    var context = ViewBag.context;
    }
<h1> @ViewData["Title"]</h1>

  
<div id="BlogsList">
    
<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Başlıq</th>
        <th>Kateqoriya</th>
        <th>Vəziyyət</th> 
        <th>Əməliyyatlar</th>
    </thead>
     <tbody>
    @if(Model!=null){

 @foreach (var item in Model)
{
    <tr id="@item.Id">
        <th>@item.Id</th>
        <td>@item.Title</td>

        <td>@context.Categories.Find(item.CategoryId).Name</td>
        <td>
            
           <a type="button" class="btn btn-danger" onclick="DeleteAuthor(@item.Id)" >Sil</a>
           <a type="button" class="btn btn-warning" onclick="EditAuthor(@item.Id)">Dəyişdir</a>
            
        </td>
    </tr>
}
    }
    </tbody>
   
   
</table>

</div>
<hr>
<hr>

<div id="AuthorOperations">
    <h2 id="AuthorOperationsTitle">Yazar əlavə et</h2>
<form id="AuthorForm" method="POST" action="/Home/AddAuthor">

<input class="form-control" type="hidden" id="Id" name="Id" >
<input class="form-control" type="text" name="Name" id="Name" placeholder="Adınızı daxil edin">
<input class="form-control" type="text" name="Surname" id="Surname" placeholder="Soyadınızı daxil edin">
<input class="form-control" type="email" name="Email" id="Email" placeholder="Email adresinizi daxil edin">
<input class="form-control" type="text" name="Password" id="Password" placeholder="Şifrənizi daxil edin">

<button class="btn btn-primary" type="button" id="SubmitButton" onclick="AddAuthor()">Əlavə et</button>
<button class="btn btn-danger" type="button" id="CancelButton"  onclick="SetToDefault()">Ləğv et</button>


</form>

</div>
@section Scripts{
  
   <script>
    
    </script>
}