@model List<AdminBlog.Models.Blog>
@{
    ViewData["Title"]= "Yazıçılar";
    var LoginId = Context.Session.GetInt32("id");
    var context = ViewBag.context;
    }
<h1> @ViewData["Title"]</h1>

  
<div id="BlogsList">
    
<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Başlıq</th>
        <th>Kateqoriya</th>
        <th>Vəziyyət</th> 
        <th>Əməliyyatlar</th>
    </thead>
     <tbody>
    @if(Model!=null){

 @foreach (var item in Model)
{
    <tr id="@item.Id">
        <th>@item.Id</th>
        <td>@item.Title</td>

        <td>@context.Categories.Find(
            item.CategoryId).Name</td>
        <td>
            
           <a type="button" class="btn btn-danger" onclick="DeleteBlog(@item.Id)" >Sil</a>
           <a type="button" class="btn btn-warning" onclick="EditAuthor(@item.Id)">Dəyişdir</a>
            
        </td>
    </tr>
}
    }
    </tbody>
   
   
</table>

</div>
<hr>
<hr>

@section Scripts{
  
   <script>
    function DeleteBlog(Id){
        $.ajax({
            url: `/Blog/DeleteBlog?Id=${Id}`,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
            type: 'POST',
            success : (result)=>{
                $(`tr#${Id}`).remove();
            },
            error : ()=>{
                console.log("Xəta baş verdi")
            }
        })
    }
    
    </script>
}