
@{
    ViewData["Title"]= "İstifadəçilərin göndərdiyi mesajlar";
    var LoginId = Context.Session.GetInt32("id");
    
    }
<h1> @ViewData["Title"]</h1>
@if(ViewBag.data is List<UserMessage>){
    List<UserMessage> allMessages = ViewBag.data;
        
            
<div id="MessagesList">
    
<table class="table table-bordered">
    <thead>
       
        <th>Ad</th>
        <th>Email</th>
        <th>Əlaqə nömrəsi</th>
        <th>Başlıq</th>  
        <th>Əməliyyatlar</th>
    </thead>
     <tbody>
    @if(allMessages!=null){

 @foreach (var item in allMessages)
{
    <tr id="@item.Id" class="clickable-row" >
       
        <td>@item.Name</td>
        <td>@item.Email</td>
        <td>@item.PhoneNumber</td>
        <td>@item.Title</td>
        <td><a type="link" href="/Home/UserMessages?Id=@item.Id" class="btn btn-warning">Detallı bax</a></td>
        </tr>
        
        
       
    
}
    }
    </tbody>
   
   
</table>

</div>
}else{
    UserMessage selectedMessage = ViewBag.data;
    <section id="SentMessage">
    <div class="card" style="text-align: center;">
  <h5 class="card-header">@selectedMessage.Name</h5>
  <div class="card-body">
    <h5 class="card-title" style="font-weight: bold;">@selectedMessage.Title</h5>
    <p class="card-text" >@selectedMessage.Content</p>
    <a type="button" onclick="ShowSendingEmailSection()" class="btn btn-primary">@selectedMessage.Email adressinə mail göndər</a>
  </div>
</div>
</section>
<section id="SendingEmail" >
    <form method="post" action="/Home/SendEmail">
<div class = "container" > 
<span class = "form-control-static" > Receiver: </span> 
<input class = "form-control" id="receiver" type = "text"  name = "receiver" value="@selectedMessage.Email"/> <br/> 
<span class = "form-control-static" > Subject: </span> 
<input class = "form-control" id="subject" type = "text"  name = "subject"/> <br/> 
<span class = "form-control-static" > Message: <span> 
    
<textarea class = "form-control"  id="message" type = "text"  name = "message" > </textarea> <br/>
<input class = "btn btn-primary"  type = "submit"  value = "Send"/> 
</div>
 </form>  
    
</section>
<script>
    
</script>
       
        

}


@section Scripts{

<script>
    $(document).ready(function(){
    $('#SendingEmail').hide();
    })
    function ShowSendingEmailSection(){
        $('#SendingEmail').show();
        
    }
   
    
</script>
}
