
@{
    ViewData["Title"]= "İstifadəçilərin göndərdiyi mesajlar";
    var LoginId = Context.Session.GetInt32("id");
    
    }
<h1> @ViewData["Title"]</h1>
@if(ViewBag.data is List<UserMessage>){
    List<UserMessage> allMessages = ViewBag.data;
        
            
<div id="MessagesList">
    
<table class="table table-bordered">
    <thead>
       
        <th>Ad</th>
        <th>Email</th>
        <th>Əlaqə nömrəsi</th>
        <th>Başlıq</th>  
        <th>Əməliyyatlar</th>
    </thead>
     <tbody>
    @if(allMessages!=null){

 @foreach (var item in allMessages)
{
    <tr id="@item.Id" class="clickable-row" >
       
        <td>@item.Name</td>
        <td>@item.Email</td>
        <td>@item.PhoneNumber</td>
        <td>@item.Title</td>
        <td><a type="link" href="/Home/UserMessages?Id=@item.Id" class="btn btn-warning">Detallı bax</a></td>
        </tr>
        
        
       
    
}
    }
    </tbody>
   
   
</table>

</div>
}else{
    UserMessage selectedMessage = ViewBag.data;
    <div class="card" style="text-align: center;">
  <h5 class="card-header">@selectedMessage.Name</h5>
  <div class="card-body">
    <h5 class="card-title" style="font-weight: bold;">@selectedMessage.Title</h5>
    <p class="card-text" >@selectedMessage.Content</p>
    <a href="#" class="btn btn-primary">@selectedMessage.Email adressinə mail göndər</a>
  </div>
</div>
       
        

}


@section Scripts{

<script>
    $(document).ready(function(){
    
    })
   
    
</script>
}
