@using AdminBlog.Models
@model List<AdminBlog.Models.Blog>;
@{
    ViewData["Title"] = "Ana səhifə";
    Layout="~/Views/User/Shared/_Layout.cshtml";
    ViewBag.ImagePath="home-bg.jpg";
    ViewBag.Title="Ana səhifə";
    ViewBag.Subtitle="Həyatdan geri qalmayın";
    BlogContext context= ViewBag.context;
    Model.Reverse(); //It helps us to get last blogs
}

    
 <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
    @foreach(var blog in Model.Take(3))
    {
        
        @if(@blog.isPublished==true){

        
                
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/Post?T=@blog.Slug">
                            <h2 class="post-title">@blog.Title</h2>
                            <h3 class="post-subtitle">@blog.Subtitle</h3>
                        </a>
                        <p class="post-meta" style="display: flexbox;">
                            Yazar :
                            <a href="#!">@context.Authors.FirstOrDefault(a=>a.Id==blog.AuthorId).Name @context.Authors.FirstOrDefault(a=>a.Id==blog.AuthorId).Surname </a>
                            @blog.CreationTime.ToString("dd-MM-yyyy");
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    }
    }
                    
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>