@model List<AdminBlog.Models.Author>
@{
    ViewData["Title"]= "Yazıçılar";
    var LoginId = Context.Session.GetInt32("id");
    }
<h1> @ViewData["Title"]</h1>

    <h3>Salam olsun </h3>
<div id="AuthorsList">
    
<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
        <th>Şifrə</th>  
        <th>Əməliyyatlar</th>
    </thead>
     <tbody>
    @if(Model!=null){

 @foreach (var item in Model)
{
    <tr id="@item.Id">
        <th>@item.Id</th>
        <td>@item.Name</td>
        <td>@item.Surname</td>
        <td>@item.Email</td>
        <td>@if(LoginId==0){
            @item.Password
            }
                </td>
        @if(LoginId==0){
        <td>
           <a type="button" class="btn btn-danger" onclick="DeleteAuthor(@item.Id)" >Sil</a>
           <a type="button" class="btn btn-warning" onclick="EditAuthor(@item.Id)">Dəyişdir</a>
            
        </td>
        }
       
    </tr>
}
    }
    </tbody>
   
   
</table>

</div>
<hr>
<hr>
@if(LoginId==0){


<div id="AuthorOperations">
    <h2 id="AuthorOperationsTitle">Yazar əlavə et</h2>
<form id="AuthorForm" method="POST" action="/Home/AddAuthor">

<input class="form-control" type="hidden" id="Id" name="Id" >
<input class="form-control" type="text" name="Name" id="Name" placeholder="Adınızı daxil edin">
<input class="form-control" type="text" name="Surname" id="Surname" placeholder="Soyadınızı daxil edin">
<input class="form-control" type="email" name="Email" id="Email" placeholder="Email adresinizi daxil edin">
<input class="form-control" type="text" name="Password" id="Password" placeholder="Şifrənizi daxil edin">

<button class="btn btn-primary" type="button" id="SubmitButton" onclick="AddAuthor()">Əlavə et</button>
<button class="btn btn-danger" type="button" id="CancelButton"  onclick="SetToDefault()">Ləğv et</button>


</form>

</div>
}
@section Scripts{
  
    <script>


        $('#CancelButton').hide();
        function SetToDefault(){
            $('#CancelButton').hide();
            $('#AuthorForm input').val(null);
            $('#SubmitButton').text('Əlavə et');
            $('#AuthorOperationsTitle').text('Yazar əlavə et');
        }
    function EditAuthor(Id){
      $.ajax({
            type : 'POST',
            url : `/Home/AuthorDetails?Id=${Id}`,
            contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
            success : (result)=>{
                console.log(result.name)   
                $('#CancelButton').show();
                $('input#Id').val(result.id);
                $('input#Name').val(result.name);
                $('input#Surname').val(result.surname);
                $('input#Email').val(result.email);
                $('input#Password').val(result.password);
                $('#SubmitButton').text('Dəyişikliyi təsdiqlə')
                $('#AuthorOperationsTitle').text(`${result.name} adlı yazarı dəyişdir` )
            }
        })


    }


        function DeleteAuthor(Id){
            if(confirm("Bu yazarı silmək istədiyinizə əminsinizmi?")){
            $.ajax({
                    type:'POST',
                    url : `/Home/DeleteAuthor?Id=${Id}`,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
                    success : (result)=>{
                           
                            $(`tr#${Id}`).remove();
                    },
                    error: ()=>{
                        console.log("File can't be deleted")
                    }
                })
            }
               
                
        }

        function AddAuthor(){
            
            var data = $('#AuthorForm').serialize();
            console.log(data);
            $.ajax({
                type : 'POST',
                url : '/Home/AddAuthor',
                contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
                data : data,
                success : function(result){
                    console.log("Success!")
                    
                    $('tbody').html('');
                    for(var i=0; i<result.length;i++){
                        var item = result[i];
                      var element = ` <tr id="${item.id}">
                                            <th>${item.id}</th>
                                            <td>${item.name}</td>
                                            <td>${item.surname}</td>
                                            <td>${item.email}</td>
                                            <td>${item.password}</td>
                                            <td><a type="button" class="btn btn-danger" onclick="DeleteAuthor(${item.id})" >Sil</a>
                                              <a type="button" class="btn btn-warning" onclick="EditAuthor(${item.id})">Dəyişdir</a>
                                            </td>
                                        </tr>`
                    $('tbody').append(element);                   
                                         
                    }
                    SetToDefault();
                    
                    
                    
                },
                error: function(){
                    alert('Failed to receive data');
                    console.log('Failed');
                }
            })
            
        }
    </script>
}