@model List<AdminBlog.Models.Author>
@{
    ViewData["Title"]= "Yazıçılar";
}
<h1> @ViewData["Title"]</h1>

    
<div id="AuthorsList">
    
<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
        <th>Şifrə</th>  
    </thead>
     <tbody>
    @if(Model!=null){

 @foreach (var item in Model)
{
    <tr>
        <th>@item.Id</th>
        <td>@item.Name</td>
        <td>@item.Surname</td>
        <td>@item.Email</td>
        <td>@item.Password</td>
    </tr>
}
    }
    </tbody>
   
   
</table>

</div>
<hr>
<hr>

<div id="AuthorOperations">
    <h2>Yazar əlavə et</h2>
<form id="AuthorForm" method="POST" action="/Home/AddAuthor">

<input class="form-control" type="hidden" id="Id" name="Id" >
<input class="form-control" type="text" name="Name" id="Name" placeholder="Adınızı daxil edin">
<input class="form-control" type="text" name="Surname" id="Surname" placeholder="Soyadınızı daxil edin">
<input class="form-control" type="email" name="Email" id="Email" placeholder="Email adresinizi daxil edin">
<input class="form-control" type="text" name="Password" id="Password" placeholder="Şifrənizi daxil edin">

<button class="btn btn-primary" type="button" id="SubmitButton" onclick="ExampleSerialize()">Əlavə et</button>
<button class="btn btn-danger" type="button" id="CancelButton"  onclick="SetToDefault()">Ləğv et</button>

</form>

</div>
@section Scripts{
    <script type="text/javascript">
        $('#CancelButton').hide();
        
        function ExampleSerialize(){
            $('#Id').val(1);
            var data = $('#AuthorForm').serialize();
            console.log(data);
            $.ajax({
                type : 'POST',
                url : '/Home/AddAuthor',
                contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
                data : data,
                success : function(result){
                    alert('Succesfully received data');
                    console.log(result);
                },
                error: function(){
                    alert('Failed to receive data');
                    console.log('Failed');
                }
            })
            
        }
    </script>
}