@model IEnumerable<AdminBlog.Models.Category>;
@{
    ViewData["Title"] = "Kateqoriyalar";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-bordered">
  <thead> 
   <th scope="col">Id</th>
   <th scope="col">Adı</th> 
   <th scope="col">Əməliyyatlar</th> 
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr id="@item.Id">
        <th scope="row">
          @item.Id
        </th>
        <td>
        @item.Name  
        </td>
        <td >
          <button class="btn btn-danger" onclick="DeleteCategory(@item.Id)">Sil</button>
          <button class="btn btn-warning" onclick="EditCategory(@item.Id)">Dəyişdir</button>
        </td>
      
      </tr>
    }
  </tbody>
   
   </table>


  

<div id="FormCategory">


  <h2 id="FormCategoryTitle">Yeni kateqoriya əlavə et</h2>
<form id="CategoryOperation" method="POST" action="/Home/AddCategory">
  
 
    <input type="hidden" class="form-control" name="Id" id="Id"/>
    <input type="text" class="form-control" name="Name" id="Name"  placeholder="Kateqoriya adını daxil edin"/>
    
    <br/>
    
  <button type="button" class="btn btn-primary" onclick="AddNewCategory()" id="submitButton">Əlavə et</button>
  <button class="btn btn-danger" type="button"  id="rejectUpdate"onclick="SetToDefault()" >Ləğv et</button>
</form> 
</div>

@section Scripts{
<script> 
  function SetToDefault(){
    $('#Id').val(null)
      $('#Name').val(null)
      $('#FormCategoryTitle').text('Yeni kateqoriya əlavə et')
      $('#submitButton').text('Əlavə et')
      $('#rejectUpdate').hide();
  }
  function RefreshTable(result){
    $('tbody').html('');
                    for(var i=0; i<result.length;i++){
                        var item = result[i];
                        var element = ` <tr id="${item.id}">
                                            <th>${item.id}</th>
                                            <td>${item.name}</td>
                                            <td><a type="button" class="btn btn-danger" onclick="DeleteCategory(${item.id})" >Sil</a>
                                              <a type="button" class="btn btn-warning" onclick="EditCategory(${item.id})">Dəyişdir</a>
                                            </td>
                                        </tr>`
                    $('tbody').append(element);
  }
  }
  $('#rejectUpdate').hide();
  function EditCategory(Id){

    $.ajax({
      type : 'POST',
      url : `/Home/CategoryDetails?Id=${Id}`,
      contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
      success : (result)=>{
      $('#Id').val(result.id)
      $('#Name').val(result.name)
       $('#rejectUpdate').show();
      $('#FormCategoryTitle').text(`"${result.name}" kateqoriyasını dəyişdir`);
      $('#submitButton').text('Dəyişikliyi təsdiqlə');
      
      }
    })
    

  }
 
  function AddNewCategory(){
    var data = $('#CategoryOperation').serialize();
    $.ajax({
      type : 'POST',
        url: '/Home/AddCategory',
        data : data,
        contentType : 'application/x-www-form-urlencoded',
        success : (result)=>{
          
                RefreshTable(result);   
                    SetToDefault();
        },
        error: ()=>{
          console.log("Failed to receive data!")
        }

    })
    
    
  }
  function DeleteCategory(Id){

if(confirm("Bu kateqoriyanı silmək istədiyinizə əminsiniz?")){
 $.ajax({
    type: 'POST',
    url : `/Home/DeleteCategory?Id=${Id}`,
    contentType : 'application/x-www-form-urlencoded;  charset = UTF-8',
    success : (result)=>{
      console.log(result)
      $(`tr#${Id}`).remove();
    },error: ()=>{
      alert("Xəta baş verdi");
    }
  })
}
 

  }
  
</script>

}


