@model IEnumerable<AdminBlog.Models.Category>;
@{
    ViewData["Title"] = "Kateqoriyalar";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-bordered">
  <thead> 
   <th scope="col">Id</th>
   <th scope="col">Adı</th> 
   <th scope="col">Əməliyyatlar</th> 
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">
          @item.Id
        </th>
        <td>
        @item.Name  
        </td>
        <td >
          <a asp-route-id="@item.Id" asp-action="DeleteCategory" class="btn btn-primary">Sil</a>
          <button class="btn btn-secondary" onclick="updateForm(@item.Id)">Dəyişdir</button>
        </td>
      
      </tr>
    }
  </tbody>
   
   </table>


  

<div id="FormCategory">


  <h2 id="FormCategoryTitle">Yeni kateqoriya əlavə et</h2>
<form method="POST" action="/Home/AddCategory">
  
 
    <input type="hidden" class="form-control" name="Id" id="Id"/>
    <input type="text" class="form-control" name="Name" id="Name"  placeholder="Kateqoriya adını daxil edin"/>
    
    <br/>
    
  <button type="submit" class="btn btn-primary" id="submitButton">Əlavə et</button>
  <button class="btn btn-danger" type="button"  id="rejectUpdate"onclick="setToDefault()" >Ləğv et</button>
</form> 
</div>

@section Scripts{
<script> 
  $('#rejectUpdate').hide();
  function updateForm(Id){

    $.ajax({
      type : 'POST',
      url : `/Home/AuthorDetails?Id=${Id}`,
      contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
      success : (result)=>{}
    })
    fetch("/Home/CategoryDetails?Id="+Id)
    .then(res => res.json())
    .then(res => {
      $('#Id').val(res.id)
      $('#Name').val(res.name)
      $('#rejectUpdate').show();
      $('#FormCategoryTitle').text(`"${res.name}" kateqoriyasını dəyişdir`)
      $('#submitButton').text('Dəyişikliyi təsdiqlə')
      
    })

  }
  function setToDefault(){
    $('#Id').val(null)
      $('#Name').val(null)
      $('#FormCategoryTitle').text('Yeni kateqoriya əlavə et')
      $('#submitButton').text('Əlavə et')
      $('#rejectUpdate').hide();
  }
</script>

}

